body {
    margin: 0;
}
  
#color-generator-form {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: beige;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#color-selector {
    width: 80px;
    height: 55px;
    border: 0.5px solid rgba(209, 213, 219, 1);
    color: rgba(229, 229, 229, 1);
}

#scheme-mode {
    width: 500px;
    appearance: none;
    background-image: url('./images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 6px;
}

#get-color-scheme-btn {
    background-color: white;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 15px;
    color: rgba(55, 65, 81, 1);
}

#color-scheme {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: calc(100vh - 155px);
}

.color-column {
    display: grid;
    grid-template-rows: 1fr 75px;
}

.hex-value {
    font-size: 25px;
    cursor: pointer;
}

.color-block {
    width: 100%;
    height: 100%;
}

.color-column p {
    margin: 0;
    display: grid;
    place-items: center;
    background: white;
}
